<div data-hook="admin_sales_schedule_form_fields">

  <div class="row">

    <div class="col-xs-12 col-md-8" data-hook="admin_sales_schedule_form_left">
     
<%= render partial: "spree/admin/variants/autocomplete", formats: :js %>

<div id="add-line-item" data-hook class="panel panel-default">

  <div class="panel-heading">
    <h1 class="panel-title"><%= Spree.t(:sales_schedule) %></h1>
  </div>

  <div class="panel-body">
  	
  	<%= f.hidden_field :return_to_product, value: @return_to_product=='1' ? 1 : 0 %>
  	<%= f.hidden_field :lesson, value: @return_to_product=='1' ? params[:l] : 0 %>

    <div data-hook="admin_sales_schedule_form_group" class="form-group">
      <%= f.field_container :variant_id, class: ['form-group'] do %>
        <%= f.hidden_field :variant_id, class: "variant_autocomplete fullwidth-input" %>
        <%= f.error_message_on :variant_id %>
      <% end %>
    </div>

      <div data-hook="admin_sales_schedule_form_start_time">
        <%= f.field_container :start_time, class: ['form-group'] do %>
          <%= f.label :start_time, I18n.t('sales_shedule.start_time') %>
          <%= f.text_field :start_time, type: 'datetime', value: f.object.start_time.strftime("%Y-%m-%d %H:%M"), class: 'form-control', required: 'required' %>
          <%= f.error_message_on :start_time %>
        <% end %>
      </div>

      <div data-hook="admin_sales_schedule_form_end_time">
        <%= f.field_container :end_time, class: ['form-group'] do %>
          <%= f.label :end_time, I18n.t('sales_shedule.end_time') %>
          <%= f.text_field :end_time, type: 'datetime', value: f.object.end_time.strftime("%Y-%m-%d %H:%M"), class: 'form-control', required: 'required' %> 
          <%= f.error_message_on :end_time %>
        <% end %>
      </div>

      <div data-hook="admin_sales_schedule_form_number">
        <%= f.field_container :number, class: ['form-group'] do %>
          <%= f.label :number, I18n.t('sales_shedule.number') %>
          <%= f.text_field :number, class: 'form-control', required: 'required' %>
          <%= f.error_message_on :number %>
        <% end %>
      </div>
      
      <div data-hook="admin_sales_schedule_form_title">
        <%= f.field_container :title, class: ['form-group'] do %>
          <%= f.label :title, I18n.t('sales_shedule.title') %>
          <%= f.text_field :title, class: 'form-control', required: 'required' %>
          <%= f.error_message_on :title %>
        <% end %>
      </div>

      <div data-hook="admin_sales_schedule_form_description">
        <%= f.field_container :description, class: ['form-group'] do %>
          <%= f.label :description, I18n.t('sales_shedule.description') %>
          <%= f.text_area :description, class: 'form-control', :rows => 10 %>
          <%= f.error_message_on :description %>
        <% end %>
      </div>
    
   
  </div>
</div>


    
    </div>



  </div>
</div>